/*  Stylesheet for politico. needs improvments
    by @ekikoh. */

/* Import fonts and icons */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:600|Source+Sans+Pro:300');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Predefined variables */
:root {
  --button-bg-color: #eaeaea;
  --main-text-color: rgb(47, 174, 185);
}


/* Basic resets */

* {
  margin: 0 0px;
  padding: 0 0px;
  list-style: none;
}

a {
  color:rgba(0,0,0,.7);
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  color: #4e4e4e;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* styles for fullscreen landing page */
.full-screen {
  height: 100vh;
  background: #F8FAFA;
  background: url('../images/vote-bg.jpg') no-repeat center right; 
}

.hero-text-box {
  padding: 50px;
}

.hero-text-box h2{
  font-size: 8em;
}

.hero-text-box p {
  width: 55%;
  font-size: 1.7em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  color: #ada7a7;
}

/*styles for navigation */
.nav-brand {
  font-size: 2em;
  margin-left: 45px;
  color: var(--main-text-color);
}
.nav-brand-admin {
  margin-left: 115px;
}

nav {
  line-height: 15px;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #eee;
  font-family: 'IBM Plex Sans', sans-serif;
  border-top: 3px solid var(--main-text-color);
}

nav,
nav ul {
  display: flex;
  flex-direction: row;
}

nav ul{
  margin-left: auto;
  margin-right: 50px;
}

nav li {
  margin-left: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

span{
  color: rgb(47, 174, 185);
}

/* styles for buttons */
.button-normal {
  font-size: 25px;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 0px;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  background-color: var(--button-bg-color);
  font-family: 'IBM Plex Sans', sans-serif;
}

.button-small {
  font-size: 20px;
  padding: 6px 20px;
}

/* styles for card */
.card-container {
  width: 70%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.ui-card {
  width: 25%;
  font-family: 'Source Sans Pro', sans-serif;
  border-top: 4px solid var(--main-text-color);
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.card-image, img {
  max-width: 100%;
}

.card-text {
  padding: 10px;
  text-align: center;
  background: var(--button-bg-color);
}

.card-text p {
  font-size: 14px;
  margin-bottom: 8px;
}

.card-text span {
  font-weight: bold;
  color: var(--main-text-color);
}

/* styles for form*/
.ui-form {
  margin: 5px;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.ui-form input, select {
  width: 94%;
  padding: 14px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.6);
}
select {
  width: 100%;
}

.ui-form label {
  font-weight: 700;
  color: #413f3f;
}

/* css for modal box */
.ui-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 50px auto; 
  padding: 30px;
  border: 1px solid #888;
  width: 35%; 
  border-radius: 5px;
  animation-name: topAnimate;
  animation-duration: 1s;
  background: hsla(0,0%,100%,.9);
}
.modal-content-dashboard {
  width: 90%; 
  border:0px;
  padding: 0px;
  margin: 20px 0px 0px 0px;
}

.form-header {
  padding: 15px;
  background: rgb(47, 174, 185);
  color: #ffffff;
}

.close {
  color: #fff;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes topAnimate {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.profile-container {
  padding: 4rem;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 50px;
}

.user-profile-left,
.user-profile-right {
  float: left;
  padding:20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.user-profile-left {
  width:30%;
}

.user-profile-right {
  margin-left: 30px;
  width:65%;
}

.profile-container:after{
  content: "";
  display: table;
  clear: both;
}

.profile-image {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.profile-image img {
  float: left;
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 50px;
  vertical-align: baseline;
}

.profile-image > p {
  float: left;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0,0,0,.7);
  vertical-align: baseline;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.profile-image:after {
  content: "";
  display: table;
  clear: both;
}

.user-profile-nav ul {
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}

.user-profile-nav li {
  margin: 0px auto;
  margin-bottom: 20px; 
  border:1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.user-profile-right h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: rgb(153, 153, 153);
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
footer {
  font:14px 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #333;
}